# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env

# Next.js / Node
node_modules/
.next/
out/
frontend/node_modules/
frontend/.next/

# Models & Large Files
# On garde le .pt car il est nécessaire au déploiement !
*.pth
*.pkl

# Git
.git
.gitignore

# Agentic / Meta
.gemini/
.agents/
.agent/
_agents/
_agent/
*.md_agent
artifacts/
media/
